__pycache__/
*.pkl
*.ipynb_checkpoints
.env
data/processed/*
models/*
venv/
data/*
!data/clean/
!data/clean/**
anaconda_projects/db/
anaconda_projects/
.virtual_documents/
# macOS system file
.DS_Store
# Jupyter virtual docs
.virtual_documents/
# Ignore local notebooks if desired
notebooks/
*.ipynb
